nnunet_results/Dataset903_Task903_DLMUSEV2/nnUNetTrainer__nnUNetPlans__3d_fullres/crossval_results_folds_0/postprocessing.pkl filter=lfs diff=lfs merge=lfs -text
nnunet_results/Dataset903_Task903_DLMUSEV2/nnUNetTrainer__nnUNetPlans__3d_fullres/fold_0/checkpoint_best.pth filter=lfs diff=lfs merge=lfs -text
nnunet_results/Dataset903_Task903_DLMUSEV2/nnUNetTrainer__nnUNetPlans__3d_fullres/fold_0/checkpoint_final.pth filter=lfs diff=lfs merge=lfs -text
